<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            deployment {
              # this nested section will be accessed by akka.actor.deployment
              # used to configure our ChartingActor
              /charting {
                # causes ChartingActor to run on the UI thread for Windows
                dispatcher = akka.actor.synchronized-dispatcher
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>